@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#search-input{
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}

#search-form{
    font-family: 'Play', sans-serif;
    font-weight: bold;
    margin-top: 200px;
}

#img_item{
    text-align: center;
    height: 400px;
    max-width: 300px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 250px;
}

#apply_btn{
    border-radius: 25px;
    position: absolute;
    left: 300px;
    top: 10px;
}

.carousel_item{
    width: 400px;
    height: 300px;
}

#loading-spinner{
    margin-left: 50%;
}

#poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 600px;

    border-radius: 25px;
}

#poster_label{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.description{
    margin-left: 5%;
}

#poster_description{
    font-family: 'Play', sans-serif;
    font-size: 40px;
}

.description_item{
    margin-top: 20px;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 40px;
    text-align: center;
}

.description_item_label{
    font-family: 'Play', sans-serif;
    font-size: 40px;
}

.description_item_text{
    font-family: 'Play', sans-serif;
    font-size: 30px;
}














.success{
    color: rgb(42, 174, 71);
}

.primary{
    color: rgb(0, 106, 255);
}

.secondary{
    color: rgb(123, 134, 142);
}

.danger{
    color: rgb(238, 41, 60);
}

.warning{
    color: rgb(255, 208, 0);
}

.info{
    color: rgb(19, 132, 150);
}

.light{
    color: rgb(226, 230, 234);
}

.dark{
    color: rgb(35, 39, 43);
}