@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#search-input{
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}

#search-form{
    font-family: 'Play', sans-serif;
    font-weight: bold;
    margin-top: 200px;
}

#img_item{
    text-align: center;
    height: 400px;
    max-width: 300px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 250px;
}

#apply_btn{
    border-radius: 25px;
    position: absolute;
    left: 300px;
    top: 10px;
}

.carousel_item{
    width: 400px;
    height: 300px;
}

#loading-spinner{
    margin-left: 50%;
}

#poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 600px;

    border-radius: 25px;
}

#poster_label{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.description{
    margin-left: 5%;
}

#poster_description{
    font-family: 'Play', sans-serif;
    font-size: 40px;
}

.descriptio_item{
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: center;
}